{% load static %}

<!--============ ABOUT ============-->
<section class="about section" id="about">
    <div class="container">
        <!-- section title -->
        <h2 class="section-title padd-15">About Me</h2>
        <div class="row">
            <!-- avatar image -->
            <div class="about-banner padd-15">
                <img src="{{ me.userprofile.avatar.url }}"alt="{{ me.userprofile.first_name }}" >
            </div>
            <div class="about-content padd-15">
                <div class="rounded">
                    <div class="row">
                        <div class="about-text padd-15">
                            <!-- about text-->
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eum corrupti a sint dolores, ipsam odit, culpa, delectus ea nesciunt soluta beatae eligendi animi! Ad alias id tempora soluta quae!
                            </p>
                            <div>
                                <a href="#" class="btn btn-primary">Download CV</a>
                            </div>
                        </div>
                        <div class="skills padd-15">
                            <div class="row">
                                <!-- about text-->
                                <div class="skill-item">
                                    <h4>Devlopment</h4>
                                    <div class="porgress">
                                        <div class="porgress-in" style=" width:80%; background:red;" >

                                        </div>
                                        <div class="skill-persent">95%</div>
                                    </div>
                                </div>
                                <div class="skill-item">
                                    <h4>Devlopment</h4>
                                    <div class="porgress">
                                        <div class="porgress-in"></div>
                                        <div class="skill-persent">95%</div>
                                    </div>
                                </div>
                                <div class="skill-item">
                                    <h4>Devlopment</h4>
                                    <div class="porgress">
                                        <div class="porgress-in"></div>
                                        <div class="skill-persent">95%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- fact item -->
            <div class="fact-item padd-15">
                <i class="lin lin"></i>
                 <div class="details">
                    <h3>198</h3>
                    <p>Project done</p>
                 </div>
            </div>
            <!-- fact item -->
            <div class="fact-item padd-15">
                <i class="lin lin"></i>
                 <div class="details">
                    <h3>198</h3>
                    <p>Project done</p>
                 </div>
            </div>
            <!-- fact item -->
            <div class="fact-item padd-15">
                <i class="lin lin"></i>
                 <div class="details">
                    <h3>198</h3>
                    <p>Project done</p>
                 </div>
            </div>
            <!-- fact item -->
            <div class="fact-item padd-15">
                <i class="lin lin"></i>
                 <div class="details">
                    <h3>198</h3>
                    <p>Project done</p>
                 </div>
            </div>
        </div>
    </div>
</section>