{% load static %}

<!--============ ABOUT ============-->
<section class="about section" id="about">
    <div class="container">
        <!-- section title -->
        <h2 class="section-title padd-15">About Me</h2>
        <div class="row">
            <!-- avatar image -->
            <div class="about-banner padd-15">
                <img src="{{ me.userprofile.avatar.url }}"alt="{{ me.userprofile.first_name }}" >
            </div>
            <div class="about-content padd-15">
                <div class="rounded">
                    <div class="row">
                        <div class="about-text padd-15">
                            <!-- about text-->
                            <p>
                                {{ me.userprofile.about_me.body }}
                            </p>
                            <div>
                                <a Download href="{{me.userprofile.Cv.url}}" class="btn btn-primary">Download CV</a>
                            </div>
                        </div>
                        <div class="skills padd-15">
                            <div class="row">
                                
                                <!-- about text-->
                                <div class="skill-item">
                                    {% for skill in me.userprofile.skills.all %}
                                    <h4> {{ skill.name }} </h4>
                                    <div class="porgress">
                                        <div class="porgress-in" style=" width:{{ skill.score }}%; background:#ff9415;" >
                                        </div>
                                        <div class="skill-persent">{{ skill.score }}</div>
                                    </div>
                                    {% endfor %}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- fact item -->
            <div class="fact-item padd-15">
                <i class="lni lni-thumbs-up"></i>
                 <div class="details">
                    <h3>{{ me.userprofile.about_me.project }}</h3>
                    <p>Project done</p>
                 </div>
            </div>
            <!-- fact item -->
            <div class="fact-item padd-15">
                <i class="lni lni-thunder"></i>
                 <div class="details">
                    <h3>{{ me.userprofile.about_me.experience }}</h3>
                    <p>Experience</p>
                 </div>
            </div>
            <!-- fact item -->
            <div class="fact-item padd-15">
                <i class="lni lni-users"></i>
                 <div class="details">
                    <h3>{{ me.userprofile.about_me.clients }}</h3>
                    <p>Happy clients</p>
                 </div>
            </div>
            <!-- fact item -->
            <div class="fact-item padd-15">
                <i class="lni lni-cup"></i>
                 <div class="details">
                    <h3>{{ me.userprofile.about_me.winner }}</h3>
                    <p>Winner</p>
                 </div>
            </div>
        </div>
    </div>
</section>