{% load static %}
<!-- 
    - #HEADER
  -->
  <header class="header" id="header">
    <nav class="nav container">
        <a href="{% url 'portfolio:home' %}" class=" nav__logo ">{{ me.userprofile.user }}</a>
        <div class="nav__menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">
                        <i class='bx bx-home-alt'></i>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#about" class="nav__link">
                        <i class='bx bx-user'></i>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#services" class="nav__link">
                        <i class='bx bx-book'></i>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#resume" class="nav__link">
                        <i class='bx bx-briefcase-alt-2'></i>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#portfolio" class="nav__link">
                        <i class='bx bx-message-square-detail'></i>
                    </a>
                </li> 
            </ul>
        </div>

        <!-- Theme change button -->
          <i class='bx bx-moon nav__theme change-theme' id="theme-button"></i>
    </nav>
  </header>
