{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load static %}

<!-- #Portfolio -->
<section class="portfolio section" id="portfolio-list">
	<div class="container">
		<!-- section title -->
		<h2 class="section-title padd-15">Works</h2>
		<div class="row">
			<div class="portfolio-filter padd-15">
				<div class="portfolio-filter-inner">
					<button type="button" class="active">All</button>
					<button type="button">car</button>
					<button type="button">App</button>
					<button type="button">website</button>
					<button type="button">Sport</button>
				</div>
			</div>
		</div>
		<div class="row">
			{% for project in object_list %}
			<!-- portfolio item -->
			<div class="portfolio-item padd-15">
				<div class="portfolio-item-inner">
					<div class="portfolio-item-thumbnail">
						<a href="{% url 'portfolio:portfolio-detail' slug=project.slug %}">
							<img src="{{ project.image.url }}" alt="{{ project.image.url }}">
							<div class="mask"></div>
						</a>
					</div>
					<span class="term">{{ project.tag }}</span>
					<h3 class="portfolio-item-title">{{ project.name }}</h3>
					<span class="more-button">&hellip;</span>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- Footer -->
{% include 'footer.html' %}
{% endblock content %}