{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- #Portfolio -->
<section class="portfolio-detail section" id="portfolio-detail">
	<div class="details-container container grid ">
		<div class="details-group">
            <div class="details-tag">{{ object.tag }}</div>
            <h3 class="details-title"> {{ object.title }} </h3>
            <div class="details-meta">
                <div class="details-portfolio">
                    <img src="{{ me.userprofile.avatar.url }}" alt="{{ me.userprofile.avatar.url }}" class="details-portfolio-img">

                    <div class="details-data">
                        <span class="details-subtitle">user : </span>
                        <h3 class="details-data-title">{{ me.userprofile.user }}</h3>
                    </div>
                </div>
                <div class="details-update">
                    <span class="details-subtitle">Last update : </span>
                    <h3 class="details-data-title">/h3>
                </div>
                <div class="details-rating">
                    <span class="details-subtitle">Review : </span>
                    <h3 class="details-data-title">
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i> 
                        <i class='bx bx-star'></i>
                        <span class="review">4.5</span>
                    </h3>
                </div>
            </div>
            <img src="{{ object.image.url }}" alt="image-" class="details-img">
            <div class="portfolio-description">
                <p class="portfolio-description-details">
                    {{ object.body }}
                </p>
                <div class="description-list">
                    <h3 class="description-list-title"> what is the target ? </h3>
                    <div class="description-list-details">
                        <p class="description-list-data">
                            <i class='bx bx-star details-icon'></i>
                            Aim for the dead centre of the target. 
                        </p>
                        <p class="description-list-data">
                            <i class='bx bx-star details-icon'></i>
                            Aim the arrow a little above the target.
                        </p>
                        <p class="description-list-data">
                            <i class='bx bx-star details-icon'></i>
                            When you've aligned the notch on the gun with the target, fire!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="introduction">
            <img src="" alt="" class="introduction-thumb">
            <div class="introduction-content">
                <div class="introduction-group">
                    <i class='bx bxs-graduation introduction-icon'></i>
                    <h3 class="introduction-info"><span> Order Date :</span>  {{ object.order_date }}</h3>
                </div>
                <div class="introduction-group">
                    <i class='bx bxs-graduation introduction-icon'></i>
                    <h3 class="introduction-info"><span> Final Date :</span>  {{ object.final_date }}</h3>
                </div>
                <div class="introduction-group">
                    <i class='bx bxs-graduation introduction-icon'></i>
                    <h3 class="introduction-info"><span> Status :</span>  {{ object.status }}</h3>
                </div>
            </div>
        </div>
	</div>
</section>
<!-- Footer -->
{% include 'footer.html' %}
{% endblock content %}