{% load static %}

<!--============ Experience ============-->
<section class="section " id="resume">
    <div class="container">
        <!-- section title -->
        <h2 class="section-title padd-15">Resume</h2>
        <div class="row">
            <!-- education -->
            <div class="education padd-15">
                <div class="row">
                    <div class="timeline-box">
                        <div class="timeline">
                            {% for education in resume %}
                            <!-- timeline item -->
                            <div class="timeline-item">
                                <i class="lni lni-graduation timeline-icon"></i>
                                <h3 class="timeline-date">
                                    <i class='lni lni-calendar'></i> {{ education.date_education }}
                                </h3>
                                <h3 class="timeline-title"> {{ education.title_education }} </h3>
                                <p class="timeline-text">
                                    {{ education.description_education }}
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- experience -->
            <div class="experience padd-15">
                <div class="row">
                    <div class="timeline-box">
                        <div class="timeline">
                             {% for experience in resume %}
                            <!-- timeline item -->
                            <div class="timeline-item">
                                <i class="lni lni-briefcase timeline-icon"></i>
                                <h3 class="timeline-date">
                                    <i class='lni lni-calendar'></i> {{ experience.date_experience }}
                                </h3>
                                <h3 class="timeline-title"> {{ experience.title_experience }} </h3>
                                <p class="timeline-text">
                                   {{ experience.description_experience }}
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>