{% load static %}

<!--============ SERVICES ============-->
<section class="services section" id="services">
  <div class="container">
    <h2 class="section-title padd-15">Services</h2>
    <div class="row">
      {% for service in services %}
      <!-- services item -->
      <div class="service-item padd-15">
        <div class="service-item-inner">
            <img src="{{ service.image.url }}"alt="{{ service.title }}" >
            <h2>{{ service.title }}</h2>
            <p>{{ service.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>