{% load static %}

<!--============ SERVICES ============-->
<section class="services section" id="services">
  <div class="container">
    <h2 class="section-title padd-15">Services</h2>
    <div class="row">
      <!-- services item -->
      <div class="service-item padd-15">
        <div class="service-item-inner">
            <img src="{{ me.userprofile.avatar.url }}"alt="{{ me.userprofile.first_name }}" >
            <h2>UI/UX design</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <!-- services item -->
      <div class="service-item padd-15">
        <div class="service-item-inner">
            <img src="{{ me.userprofile.avatar.url }}"alt="{{ me.userprofile.first_name }}" >
            <h2>UI/UX design</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <!-- services item -->
      <div class="service-item padd-15">
        <div class="service-item-inner">
            <img src="{{ me.userprofile.avatar.url }}"alt="{{ me.userprofile.first_name }}" >
            <h2>UI/UX design</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
</section>